.menu {
  font-family: Manrope;
  line-height: 0;

  &__toggle {
    position: relative;
    z-index: 102;
    width: 22px;
    height: 19px;
    cursor: pointer;

    @media (min-width: $lg) {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 22px;
      height: 19px;
      background-image: url('../img/icon-menu.svg');
      background-repeat: no-repeat;

      @media (min-width: $lg) {
        content: none;
      }
    }

    &.open::after {
      width: 20px;
      height: 20px;
      background-image: url('../img/icon-close-white.svg');

      @media (min-width: $lg) {
        content: none;
      }
    }
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
    padding-top: 85px;
    background-color: #082E44;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    @media (min-width: $lg) {
      position: relative;
      z-index: 0;
      display: flex;
      width: auto;
      height: 100%;
      padding: 0;
      animation: none;
      background-color: transparent;
    }
  }

  &__toggle.open + &__wrapper {
    display: flex;
  }

  &__logo {
    position: absolute;
    top: 5px;
    left: 20px;
    display: block;
    width: 175px;
    height: 40px;
    background-image: url('../img/logo-menu.svg');
    background-repeat: no-repeat;
    text-decoration: none;

    @media (min-width: $lg) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    @media (min-width: $lg) {
      flex-direction: row;
      margin-bottom: 0;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;

    @media (min-width: $lg) {
      margin-bottom: 0;
      margin-right: 40px;
      font-weight: 500;
      font-size: 16px;
    }
    
    @media (min-width: $xl) {
      margin-right: 45px;
      font-size: 20px;
      line-height: 26px;
    }

    &:hover {
      color: $darkgold;
    }

    &:active {
      color: $darkgold;
    }

    &:last-child {
      margin-bottom: 0;

      @media (min-width: $lg) {
        margin-right: 0;
      }
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $darkgold;
    }

    &:active {
      color: $darkgold;
    }

    &--active {
      padding-bottom: 4px;
      border-bottom: 2px solid $darkgold;
      color: $darkgold;
    }
  }

  &__toggle-sub-list {
    position: relative;

    &::after {
      content: '>';
      position: absolute;
      top: 1px;
      right: -20px;
      font-size: 21px;
      vertical-align: middle;
      transform: rotate(90deg);
      transition: transform 0.3s;
    }

    &.open::after {
      transform: rotate(270deg);
    }
  }

  &__sub-list {
    display: none;
    margin-top: 15px;
    margin-left: 20px;

    @media (min-width: $lg) {
      position: absolute;
      top: 50px;
      left: -25px;
      box-sizing: border-box;
      width: 455px;
      margin: 0;
      padding: 0 25px;
      padding-top: 20px;
      padding-bottom: 10px;
      background-color: #082e44;
    }
    
    @media (min-width: $xl) {
      width: 580px;
      padding: 45px 35px;
    }
  }

  &__sub-list-item,
  &__sub-list &__item {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    transition: padding-left 0.3s;

    @media (min-width: $lg) {
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 19px;
    }
    
    @media (min-width: $xl) {
      margin-bottom: 35px;
      font-size: 22px;
      line-height: 26px;
    }
  }

  &__sub-list &__item:hover,
  &__sub-list &__item:active {
    padding-left: 20px;
  }

  &__toggle-sub-list.open + &__sub-list {
    display: block;
    animation: slide-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  &__language-switcher {
    display: block;

    @media (min-width: $lg) {
      display: none;
    }
  }
}

/**
 * ----------------------------------------
 * Animations
 * ----------------------------------------
 */

/* animation slide-bottom */
 @keyframes slide-bottom {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

/* animation slide-right */
@keyframes slide-right {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}