.form-contact {
  
  &__wrapper {

    @media (min-width: $md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
    }

    @media (min-width: $xl) {
      column-gap: 15px;
    }
  }

  &__label {}

  &__button {
    
    @media (min-width: $lg) {
      margin-left: 0;
    }
  }
}