.page-home {

  &__projects {
    padding-bottom: 45px;

    @media (min-width: $md) {
      padding-bottom: 70px;
    }
    
    @media (min-width: $lg) {
      padding-bottom: 100px;
    }
    
    @media (min-width: $xl) {
      padding-bottom: 125px;
    }
  }
}

@import 'slider-projects/slider-projects';