.card {
  position: relative;
  contain: strict;
  box-sizing: border-box;
  width: 100%;
  min-height: 375px;
  padding-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(147,147,147, 0.2);
  user-select: none;
  overflow: hidden;

  &__date {
    position: absolute;
    top: 20px;
    left: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    height: 27px;
    padding: 0 15px;
    border-radius: 23px;
    background-color: #fff;
    box-shadow: 0 0 3px #ccc;
    font-weight: 500;
    font-size: 13px;
    color: $darkgold;
    overflow: hidden;

    @media (min-width: $md) {
      left: 20px;
    }

    @media (min-width: $xl) {
      left: 25px;
    }
  }

  &__date-years {
    color: #767474;
    margin-left: 3px;
  }

  &__picture {
    height: 200px;
    background-color: #eee;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    box-sizing: border-box;
    height: 155px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    overflow: hidden;

    @media (min-width: $md) {
      height: 150px;
      padding: 20px;
    }

    @media (min-width: $xl) {
      padding: 40px;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    word-break: break-all;
  }
  
  &__text {
    font-size: 16px;
    line-height: 19px;
    color: #000;

    & p {
      font-size: 16px;
      line-height: 19px;
      color: #000;
    }
    
    & a {
      color: deepskyblue;
    }
  }
}