.home-contacts {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;

  @media (min-width: $md) {
    padding-bottom: 75px;
  }

  @media (min-width: $lg) {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  
  @media (min-width: $xl) {
    padding-top: 120px;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media (min-width: $lg) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__item {
  }

  &__item--contacts {
    margin-bottom: 50px;

    @media (min-width: $lg) {
      width: 350px;
      margin-right: 50px;
      margin-bottom: 0;
    }

    @media (min-width: $xl) {
      box-sizing: border-box;
      width: 500px;
      margin-right: 120px;
    }
  }

  &__item--form {

    @media (min-width: $lg) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 950px;
      height: 800px;
      margin-bottom: 0;
      margin-right: -110px;
      background-color: #D8DCE0;
      background-image: url('../img/bg-form-contacts@1280w.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (min-width: $xl) {
      width: 1200px;
      height: 980px;
      margin-right: -220px;
      background-image: url('../img/bg-form-contacts.jpg');
    }
  }

  &__title {
  }

  &__subtitle {
  }

  &__form {
    margin: 0 -20px;

    @media (min-width: $md) {
      margin: 0 -40px;
    }


    @media (min-width: $lg) {
      margin: 0;
      width: 650px;
      height: 600px;
    }
  
    @media (min-width: $xl) {
      width: 835px;
      height: 690px;
    }
  }
}