.page-merger {

  &__projects {
    padding-top: 50px;

    @media (min-width: $md) {
      padding-top: 90px;
    }
    
    @media (min-width: $lg) {
      padding-top: 100px;
    }
    
    @media (min-width: $xl) {
      padding-top: 110px;
    }
  }
}

@import 'slider-projects/slider-projects';