.nav-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__container {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    height: 100%;
    transform: translateX(-50%);
  }

  &__items {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #939290;
  }

  &__item {
    position: relative;
    flex: 0 1 100%;
    display: none;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }

    &-title {
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #fff;
      animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

      @media (min-width: $md) {
        margin-bottom: 35px;
        font-size: 40px;
        line-height: 50px;
      }

      @media (min-width: $xl) {
        margin-bottom: 50px;
        font-size: 60px;
        line-height: 72px;
      }
    }

    &-text, & > p {
      margin: 0;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;

      @media (min-width: $md) {
        font-size: 20px;
        line-height: 25px;
      }
      
      @media (min-width: $xl) {
        font-size: 30px;
        line-height: 36px;
      }
    }

    &-years {
      position: absolute;
      right: -20px;
      bottom: -65px;
      z-index: 2;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 50px;
      padding: 20px 10px;
      background-color: $darkgold;
      text-align: center;
      font-weight: bold;
      font-size: 10px;
      line-height: 12px;
      color: #fff;
      text-transform: uppercase;
      animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;

      @media (min-width: $md) {
        right: -70px;
        bottom: -90px;
        width: 140px;
        height: 80px;
        font-size: 18px;
        line-height: 22px;
      }

      @media (min-width: $lg) {
        right: -140px;
        bottom: 0;
      }
      
      @media (min-width: $xl) {
        right: -180px;
        width: 180px;
        height: 105px;
        padding: 30px;
        font-size: 21px;
        line-height: 25px;
      }
    }

    &-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: kenburns-top 4s ease-out both;
    }
  }

  &__inner {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -45%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);

    @media (min-width: $md) {
      width: 500px;
    }

    @media (min-width: $lg) {
      top: 51%;
      left: 0;
      width: 500px;
      max-height: 240px;
      transform: translate(0, -51%);
    }
    
    @media (min-width: $xl) {
      top: 55%;
      width: 750px;
      max-height: 400px;
      transform: translate(0, -55%);
    }
  }

  &__nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    box-sizing: border-box;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

    &::-webkit-scrollbar { 
      display: none;
    }
    
    @media (min-width: $lg) {
      padding: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;

    @media (min-width: $lg) {
      height: 110px;
    }

    @media (min-width: $xl) {
      height: 120px;
    }
  }

  &__list-item {
    position: relative;
    min-width: 180px;
    padding-top: 25px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.3s;
    user-select: none;
    cursor: pointer;

    @media (min-width: $md) {
      min-width: 200px;
      font-size: 16px;
      line-height: 19px;
    }

    @media (min-width: $xl) {
      font-size: 18px;
      line-height: 22px;
    }

    &:not(:last-child) {
      margin-right: 50px;

      @media (min-width: $md) {
        margin-right: 70px;
      }

      @media (min-width: $lg) {
        margin-right: 90px;
      }

      @media (min-width: $xl) {
        margin-right: 130px;
      }
    }

    &:hover,
    &:active,
    &.active {
      color: rgba(255, 255, 255, 1);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 5px;
      background-color: $darkgold;
      transition: background-color 0.3s;
    }

    &:active::after {
      width: 100%;
    }
    &.active::after {
      width: 100%;
      animation: width 0.5s;
    }
  }
}

@keyframes width {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}