.post-slider {
  position: relative;
  width: 100%;
  height: 100%;

  &__container {

  }

  &__items {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
  }

  &__item {
    position: relative;
    width: 100%;
    height: 100%;
    animation: fade-in-bck 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__nav {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 15;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    height: 50px;
    padding: 0 20px;
    background-color: #053043;

    @media (min-width: $lg) {
      right: 110px;
      bottom: -40px;
      width: 250px;
      height: 80px;
      padding: 0 40px;
    }

    @media (min-width: $xl) {
      right: 220px;
      bottom: -65px;
      width: 350px;
      height: 130px;
      padding: 0 60px;
    }
  }

  &__button {
    position: relative;
    width: 26px;
    height: 11px;
    line-height: 0;

    &--left {
    }

    &--right {
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: #fff;
      transition: fill 0.3s;
    }

    &:hover > &-icon {
      fill: #F1AF40;
    }

    &:active > &-icon {
      fill: #F1AF40;
    }
  }

  &__pointer {
    width: 53px;
    &-item {
      font-family: Manrope;

      &--amount {
        vertical-align: top;
        color: #9D9D9D;
      }
    }

    &-num {
      font-weight: 500;
      font-size: 23px;
      color: #fff;
      font-style: normal;
    }

    &-amount {
      font-size: 13px;
      color: #9D9D9D;
      font-style: normal;
    }
  }
}