@import 'header-post/header-post';
@import 'promo-post/promo-post';
@import 'design-work/design-work';
@import 'design-services/design-services';
@import 'design-mission/design-mission';

.page-design {

  &__main {
  }

  &__projects {
    padding-top: 30px;
  }

  &__team-referral {
    padding-top: 65px;
    padding-bottom: 65px;

    @media (min-width: $lg) {
      padding-bottom: 75px;
    }
  }

  &__clauses-services {
    margin-bottom: 55px;
    
    @media (min-width: $lg) {
      margin-bottom: 40px;
    }
    
    @media (min-width: $xl) {
      margin-bottom: 100px;
    }
  }
}