.page-corporate {

  &__header-post {

    @media (min-width: $lg) {
      position: relative;
      z-index: 3;
    }
  }

  &__header-post-bar-item-link {

    @media (min-width: $lg) {
      color: #fff;
    }
  }
}