.note-project {
  margin-bottom: 65px;
  font-family: Manrope;
  outline: 1px solid red;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $md) {
    margin-bottom: 75px;
  }

  @media (min-width: $lg) {
    display: flex;
    justify-content: space-between;
  }

  &:nth-child(2n) > .note-project__picture {

    @media (min-width: $lg) {
      order: 1;
      margin-right: -110px;
    }

    @media (min-width: $xl) {
      margin-right: -220px;
    }
  }

  &:nth-child(2n) > .note-project__article {

    @media (min-width: $lg) {
      margin-right: 0;
      padding-right: 40px;
    }

    @media (min-width: $xl) {
      margin-right: 0;
      padding-right: 85px;
    }
  }

  &__picture {
    height: 250px;
    margin: 0 -20px;
    background-color: #6E6E6E;

    @media (min-width: $md) {
      height: 500px;
      margin: 0 -40px;
    }
    
    @media (min-width: $lg) {
      width: calc(50% + 110px);
      height: 400px;
      margin-right: -110px;
      margin-left: -110px;
    }
    
    @media (min-width: $xl) {
      width: calc(50% + 220px);
      height: 600px;
      margin-right: -220px;
      margin-left: -220px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__article {
    position: relative;
    margin-top: -40px;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    background-color: #fff;
    overflow: hidden;

    @media (min-width: $md) {
      margin-top: -185px;
      padding: 50px 65px;
      max-height: 450px;
    }
    
    @media (min-width: $lg) {
      outline: 3px solid greenyellow;
      width: calc(50% + 110px);
      max-height: 460px;
      margin-top: 90px;
      padding: 40px;
    }
    
    @media (min-width: $xl) {
      width: calc(50% + 220px);
      max-height: 600px;
      margin-top: 100px;
      padding: 55px 60px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      background-color: $darkgold;
    }
  }

  &__article-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 34px;
    color: #000;

    @media (min-width: $lg) {
      max-height: 68px;
      overflow: hidden;
    }
    
    @media (min-width: $xl) {
      max-height: 180px;
      font-size: 48px;
      line-height: 60px;
    }
  }

  &__article-excerpt {
    max-height: 172px;
    margin-bottom: 40px;
    overflow: hidden;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    outline: 1px solid red;

    @media (min-width: $md) {
      min-height: 45px;
      max-height: 113px;
      font-size: 18px;
      line-height: 22px;
    }

    @media (min-width: $lg) {
      min-height: 45px;
      max-height: 132px;
    }
    
    @media (min-width: $xl) {
      min-height: 72px;
      max-height: 195px;
      font-size: 20px;
      line-height: 24px;
    }

    & p {
      font-size: 16px;
      line-height: 19px;
      color: #000;

      @media (min-width: $md) {
        font-size: 18px;
        line-height: 22px;
      }
      
      @media (min-width: $xl) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    & a {
      color: $darkgold;
      text-decoration: none;
      border-bottom: 1px solid $darkgold;
      transition: color 0.3s;

      &:hover {
        color: $lightgold;
      }
      &:active {
        color: $lightgold;
      }
    }
  }

  &__article-info {
    display: flex;
    flex-direction: column;
  }

  &__article-info-tag {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: $darkgold;
  }

  &__article-info-year {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
  }

  &__article-info-link-more {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #000;
    text-decoration: none;

    transition: color 0.3s;

    &:hover {
      color: $lightgold;
    }
    &:active {
      color: $lightgold;
    }
  }
}
