@import 'promo-post/promo-post';

.page-news {

  &__main {
    padding-bottom: 70px;

    @media (min-width: $lg) {
      margin-bottom: 90px;
      padding-bottom: 0;
    }
  }

  &__cards {

    @media (min-width: $md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 25px;
      justify-content: space-between;
    }

    @media (min-width: $lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $xl) {
      grid-template-columns: repeat(4, 1fr);
    }

  }

  &__card {
    display: block;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media (min-width: $md) {
      height: 445px;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:nth-child(3n + 1) {
        grid-column: span 2;
        height: 500px;

        & .page-news__card-content {
          height: 195px;
        }

        & .page-news__card-picture {
          height: 275px;
        }

        & .page-news__card-image {
          height: 275px;
        }
      }
    }
    
    @media (min-width: $lg) {

      &:nth-child(3n + 1) {
        grid-column: span 1;
        height: 445px;

        & .page-news__card-content {
          height: 180px;
        }

        & .page-news__card-picture {
          height: 240px;
        }

        & .page-news__card-image {
          height: 240px;
        }
      }
    }

    @media (min-width: $xl) {
      height: 510px;

      &:nth-child(3n + 1) {
        height: 510px;

        & .page-news__card-content {
          height: 202px;
        }

        & .page-news__card-picture {
          height: 275px;
        }

        & .page-news__card-image {
          height: 275px;
        }
      }
      
      & .page-news__card-content {
        padding: 30px 35px;
      }

      & .page-news__card-title {
        font-size: 20px;
        line-height: 24px;
      }

      &:nth-child(6n+1),
      &:nth-child(6n) {
        // grid-column: span 2;
      }

      &:nth-child(5n + 1) {
        grid-column: span 2;
      }
    }
  }

  &__card-content {

    @media (min-width: $md) {
      height: 180px;
      padding: 25px 30px;
    }

    @media (min-width: $xl) {
      height: 202px;
      padding: 30px 35px;
    }
  }

  &__card-picture {

    @media (min-width: $md) {
      height: 240px;
    }

    @media (min-width: $xl) {
      height: 275px;
    }
  }

  &__card-image {
    height: 100%;
  }

  &__card-title {

    @media (min-width: $md) {
      font-size: 18px;
      line-height: 22px;
    }

    @media (min-width: $xl) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__button {
    position: relative;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    padding-left: 30px;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    color: #000;
    transition: color 0.3s;
    cursor: pointer;

    @media (min-width: $lg) {
      margin-bottom: 80px;
    }

    @media (min-width: $xl) {
      margin-top: 95px;
    }

    &:hover {
      color: $darkgold;

      &::after {
        color: $darkgold;
      }
    }
    &:active {
      color: $darkgold;

      &::after {
        color: $darkgold;
      }
    }

    &::after {
      content: '+';
      position: absolute;
      top: 0;
      left: 0;
      font-size: 24px;
      line-height: 24px;
      color: #000;
      transition: color 0.3s;
    }
  }
}
