.contacts {
  font-family: Manrope;

  &__title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    color: $darkgold;
  }

  &__subtitle {
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #000;
  }

  &__item {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }

    & > p {
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      color: #000;
    }
  }

  &__item-title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $darkgold;
  }

  &__item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #000;
  }

  &__email {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
  }

  &__piva {
    margin-top: 30px;
    font-size: 16px;
    line-height: 19px;
    color: $grey;
  }

  &__item-messenger {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }

  &__item-messenger-text {
    margin-right: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;

    @media (min-width: $xl) {
      margin-right: 30px;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__item-messenger-items {
    display: flex;
  }

  &__item-messenger-item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-messenger-item-telegram {

    &:hover .contacts__item-messenger-item-icon,
    &:active .contacts__item-messenger-item-icon {
      fill: #1c9ae6;
    }
  }
  &__item-messenger-item-whatsapp {
    &:hover .contacts__item-messenger-item-icon,
    &:active .contacts__item-messenger-item-icon {
      fill: #4baf4f;
    }
  }

  &__item-messenger-item-icon {
    width: 30px;
    height: 30px;
    transition: fill 0.3s;

    @media (min-width: $xl) {
      width: 40px;
      height: 40px;
    }
  }
}