.logo {
  display: block;
  width: 175px;
  height: 38px;
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  text-decoration: none;

  @media (min-width: $lg) {
    width: 200px;
    height: 55px;
    background-image: url('../img/logo@1280.svg');
    background-size: 100% 100%;
  }

  @media (min-width: $xl) {
    width: 325px;
    height: 84px;
  }
}