.logo {
  display: block;
  width: 175px;
  height: 37px;
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  text-decoration: none;
  background-size: 100% 100%;

  @media (min-width: $lg) {
    width: 200px;
    height: 45px;
  }

  @media (min-width: $xl) {
    width: 255px;
    height: 60px;
  }
}