.page-services {

  &__info-block {
    margin-bottom: 50px;

    @media (min-width: $lg) {

      &:nth-child(even) &-figure {
        order: 1;
        margin: 0;
        margin-right: -110px;
      }

      &:nth-child(even) &-article {
        padding-right: 100px;
      }
    }
    
    @media (min-width: $xl) {
      margin-bottom: 90px;

      &:nth-child(even) &-figure {
        margin-right: -220px;
      }

      &:nth-child(even) &-article {
        padding-right: 250px;
      }
    }

  }

  &__info-block-figure {

    @media (min-width: $lg) {
      width: calc(40% + 120px);
      height: 400px;
      object-fit: cover;
    }

    @media (min-width: $xl) {
      width: calc(45% + 220px);
      height: 600px;
    }
  }

  &__info-block-article {

    @media (min-width: $lg) {
      width: calc(55% + 210px);
      margin-right: -110px;
      margin-left: -110px;
      padding-top: 75px;
      padding-right: 110px;
      padding-bottom: 75px;
      padding-left: 100px;
      background-color: #F7F7F7;
    }

    @media (min-width: $xl) {
      width: calc(55% + 340px);
      margin-right: -220px;
      margin-left: -200px;
      padding-top: 125px;
      padding-bottom: 125px;
      padding-left: 200px;
    }
  }

  &__info-block-article-container {
      
    @media (min-width: $lg) {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 400px;
      max-height: 400px;
      overflow-y: auto;
    }

    @media (min-width: $xl) {
      height: 600px;
      max-height: 600px;
    }
  }

  &__info-block-article-text {

    @media (min-width: $lg) {
      height: 235px;
      overflow-y: auto;
    }

    @media (min-width: $xl) {
      height: 380px;
    }
  }

  &__info-block-title {
    font-size: 24px;
    line-height: 29px;

    @media (min-width: $md) {
      font-size: 40px;
      line-height: 48px;
    }

    @media (min-width: $lg) {
      font-size: 30px;
      line-height: 34px;
    }

    @media (min-width: $xl) {
      font-size: 45px;
      line-height: 54px;
    }
  }

  &__info-block-button {
    margin-top: 40px;

    @media (min-width: $lg) {
      margin-top: auto;
      margin-right: auto;
    }
  }
}