.subsidy-contacts {

  &__contacts {
  }

  &__contacts-title {
    color: $orange;
  }

  &__contacts-item-title {
    color: $orange;
  }

  &__contacts-item-messenger-text {
    color: $orange;
  }

  &__contacts-email {
    color: $orange;
    margin: 0;
  }
}