.page-contacts {

  &__form {
    margin-top: 100px;
    padding: 0;
    background-color: #013142;

    @media (min-width: $lg) {
      width: 650px;
      margin-top: 0;
      margin-right: -110px;
      background-color: #D8DCE0;
      background-image: url('../img/bg-form-contacts@1280w.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 650px 650px;
    }
  
    @media (min-width: $xl) {
      width: 520px;
      margin-right: -220px;
      background-image: url('../img/bg-form-contacts.jpg');
      background-size: 800px 800px;
      background-repeat: no-repeat;
    }
  }
  
  &__form-title {

    @media (min-width: $md) {
      margin-bottom: 30px;
      font-size: 50px;
      line-height: 55px;
    }
    
    @media (min-width: $xl) {
      margin-bottom: 40px;
      font-size: 55px;
      line-height: 65px;
    }
  }

  &__form-slogan {

    @media (min-width: $md) {
      font-size: 18px;
      line-height: 22px;
    }

    @media (min-width: $lg) {
      margin-bottom: 45px;
    }
  }

  &__form-input {
    border-color: #EFEFEF;
  }

  &__form-textarea {
    border-color: #EFEFEF;
  }
  &__form-button {
    margin-top: 30px;
  }
}
