.page-library {
  counter-reset: index;

  &__item {
    box-sizing: border-box;
    width: 100%;
    padding: 25px 20px;
    box-shadow: 5px 3px 15px rgba(147, 147, 147, 0.20);

    @media (min-width: $lg) {
      position: relative;
    }

    @media (min-width: $xl) {
      padding: 40px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @media (min-width: $md) {
        margin-bottom: 30px;
      }
    
      @media (min-width: $xl) {
        margin-bottom: 35px;
        padding-left: 40px;
        padding-bottom: 40px;
      }
    }

    &::after {

      @media (min-width: $lg) {
        counter-increment: index;
        content: '0' counter(index);
        position: absolute;
        top: 50%;
        right: -165px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        transform: translateY(-50%);
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        font-weight: bold;
        font-size: 60px;
        color: #393939;
      }

      @media (min-width: $xl) {
        right: -285px;
        width: 250px;
        height: 250px;
      }
    }
  }

  &__item.open::after {
    background-image: url('../img/library-item-circle.svg');
    animation: item-scale-in-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  &__item.open &__item-footer {
    display: grid;
    animation: opacity 0.4s both;
  }

  &__item-inner {

    @media (min-width: $md) {
      display: grid;
      grid-template-columns: auto 290px;
      column-gap: 30px;
    }

    @media (min-width: $lg) {
      grid-template-columns: auto 380px;
      column-gap: 20px;
    }

    @media (min-width: $xl) {
      grid-template-columns: auto 500px;
      column-gap: 75px;
    }
  }

  &__item-content {
    margin-bottom: 20px;
    
    @media (min-width: $md) {
      margin-bottom: 0;
      padding-top: 40px;
    }

    @media (min-width: $lg) {
      padding-top: 45px;
    }

    @media (min-width: $xl) {
      padding-top: 55px;
    }
  }

  &__item-title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;

    @media (min-width: $lg) {
      margin-bottom: 25px;
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__item-text {
    position: relative;
    max-height: 223px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;

    @media (min-width: $lg) {
      max-height: 274px;
    }

    @media (min-width: $xl) {
      max-height: 269px;
      font-size: 16px;
      line-height: 19px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 50%;
      background-color: $red;
    }
  }

  &__item-text p {
    font-size: 14px;
    line-height: 17px;

    @media (min-width: $xl) {
      font-size: 16px;
      line-height: 19px;
    }

    &:last-child {
      margin-bottom: 10px;
    }
  }

  &__item-image {
    position: relative;
    margin: 0 -20px;

    @media (min-width: $md) {
      grid-row: span 2;
      margin: 0;
      margin-right: -20px;
      height: 300px;
    }

    @media (min-width: $lg) {
      height: 380px;
    }

    @media (min-width: $xl) {
      margin-right: -40px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-date {
    position: absolute;
    top: 15px;
    right: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 170px;
    height: 30px;
    padding: 0 15px;
    border-radius: 23px;
    background-color: #fff;
    box-shadow: 0 0 3px #ccc;
    font-weight: 500;
    font-size: 13px;
    color: $darkgold;
    overflow: hidden;

    @media (min-width: $lg) {
      font-size: 14px;
    }

    @media (min-width: $xl) {
      height: 35px;
      font-size: 20px;
    }
  }

  &__item-footer {
    display: none;
    row-gap: 20px;
    margin-top: 25px;

    @media (min-width: $md) {
      grid-template-columns: auto 290px;
      column-gap: 30px;
      align-items: center;
    }

    @media (min-width: $lg) {
      grid-template-columns: auto 380px;
      column-gap: 20px;
    }

    @media (min-width: $xl) {
      grid-template-columns: auto 500px;
      column-gap: 75px;
      row-gap: 35px;
      margin-top: 40px;
    }
  }

  &__item-features {
    display: grid;
    row-gap: 5px;
  }
  
  &__item-features-item {
    font-size: 14px;
    line-height: 16px;
   
    @media (min-width: $xl) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__item-features-item b {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__item-info {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-items: start;
    justify-content: space-between;
  }

  &__item-info-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
    align-items: center;

    @media (min-width: $md) {
      column-gap: 7px;
    }

    @media (min-width: $lg) {
      column-gap: 10px;
    }
  }

  &__item-info-icon {
    grid-row: span 2;
    width: 27px;
    height: 27px;

    @media (min-width: $md) {
      width: 35px;
      height: 35px;
    }

    @media (min-width: $lg) {
      width: 40px;
      height: 40px;
    }

    @media (min-width: $xl) {
      width: 45px;
      height: 45px;
    }
  }

  &__item-info-num {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 2px;

    @media (min-width: $lg) {
      font-size: 18px;
      line-height: 18px;
    }

    @media (min-width: $xl) {
      font-size: 22px;
      line-height: 22px;
    }
  }

  &__item-info-text {
    font-size: 10px;
    line-height: 10px;

    @media (min-width: $lg) {
      font-size: 12px;
      line-height: 12px;
    }

    @media (min-width: $xl) {
      font-size: 14px;
      line-height: 14px;
    }
  }
  
  &__item-more {
    display: grid;
    row-gap: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -25px;
    padding: 25px 20px;
    box-shadow: 5px 3px 15px rgba(147, 147, 147, 0.14);

    @media (min-width: $md) {
      grid-column: span 2;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      row-gap: 0;
      padding-top: 30px;
    }

    @media (min-width: $lg) {
      column-gap: 60px;
    }

    @media (min-width: $xl) {
      grid-template-columns: repeat(3, 280px);
      justify-content: space-between;
      margin-left: -40px;
      margin-right: -40px;
      margin-bottom: -40px;
      padding: 40px;
    }
  }

  &__item-more-item {

  }
  
  &__item-more-title {
    display: block;
    margin-bottom: 10px;

    @media (min-width: $xl) {
      margin-bottom: 20px;      
    }
  }

  &__item-more-title-number {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;

    @media (min-width: $xl) {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &__item-more-title-text {
    position: relative;
    padding-left: 45px;
    font-size: 14px;
    line-height: 17px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 4px;
      width: 35px;
      height: 2px;
      background-color: $darkgold;
    }
  }

  &__item-more-text {
    font-size: 14px;
    line-height: 17px;
  }
}