@import 'promo-post/promo-post';
@import 'structure/structure';
@import 'projects/projects.scss';
@import 'team-referral/team-referral';

.page-corporate {

  &__clauses-services {
    margin-bottom: 55px;
    
    @media (min-width: $lg) {
      margin-bottom: 40px;
    }
    
    @media (min-width: $xl) {
      margin-bottom: 100px;
    }
  }
}